<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bomberBomb1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 0}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomberBomb2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 0}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomberBomb3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {12, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 12}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 32}, {12, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bulletEnemy1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {7, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 2}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 20}, {2, 7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>bulletEnemy2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 4}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{9, 23}, {4, 7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>bulletEnemy3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 4}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 32}, {4, 7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>bulletEnemyFlash1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {2, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2, 2}</string>
			<key>spriteSourceSize</key>
			<string>{6, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 38}, {2, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bulletEnemyFlash2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {4, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 6}</string>
			<key>spriteSourceSize</key>
			<string>{6, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 23}, {4, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bulletEnemyFlash3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 10}</string>
			<key>spriteSourceSize</key>
			<string>{6, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 32}, {6, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bulletTrail1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 4}</string>
			<key>spriteSourceSize</key>
			<string>{4, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{10, 32}, {4, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_basic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {6, 6}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{6, 6}</string>
			<key>spriteSourceSize</key>
			<string>{6, 6}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 44}, {6, 6}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_big.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{14, 14}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 16}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_energy_green1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 20}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_energy_green2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {14, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 10}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 52}, {14, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet_energy_green3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {12, 8}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{12, 8}</string>
			<key>spriteSourceSize</key>
			<string>{14, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 32}, {8, 12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>bullet_missile.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 4}</string>
			<key>spriteSourceSize</key>
			<string>{8, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 22}, {4, 8}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>fireball.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {22, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>normal_white.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {20, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{20, 4}</string>
			<key>spriteSourceSize</key>
			<string>{20, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 0}, {4, 20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>playerWalkingBullet1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {7, 2}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 2}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 29}, {2, 7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>playerWalkingBullet2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 4}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 46}, {7, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playerWalkingBullet3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {7, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{7, 4}</string>
			<key>spriteSourceSize</key>
			<string>{7, 4}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 23}, {4, 7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 64}</string>
		<key>name</key>
		<string>bullets.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>