<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bloodShot1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {2, 2}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{2, 2}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 57}, {2, 2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bloodShot1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {6, 4}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{6, 4}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 105}, {6, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bloodShot1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 63}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bloodShot1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {4, 8}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{4, 8}</string>
			<key>spriteSourceSize</key>
			<string>{10, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 85}, {4, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fightingPilot1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {20, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{20, 17}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{18, 37}, {20, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fightingPilot2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {20, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{20, 17}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 111}, {20, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fightingPilotFall.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {16, 23}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 37}, {16, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flyingSaucer.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 35}</string>
			<key>spriteSourceSize</key>
			<string>{100, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {100, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flyingdroid.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 18}</string>
			<key>spriteSourceSize</key>
			<string>{21, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 85}, {21, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>flyingdroid2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 18}</string>
			<key>spriteSourceSize</key>
			<string>{21, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 63}, {21, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRoboEnergy1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {2, 4}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{2, 4}</string>
			<key>spriteSourceSize</key>
			<string>{4, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 105}, {2, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRoboEnergy2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {4, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 18}</string>
			<key>spriteSourceSize</key>
			<string>{4, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 59}, {4, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRoboEnergy3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {4, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{4, 24}</string>
			<key>spriteSourceSize</key>
			<string>{4, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 36}, {4, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 82}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {10, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{10, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 86}, {10, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {8, 25}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{8, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 86}, {8, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {8, 25}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{8, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 32}, {8, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 79}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {8, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{8, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 86}, {8, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {8, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{8, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 59}, {8, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {10, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{10, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 92}, {10, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_attack08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 91}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 59}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {14, 23}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{14, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{22, 105}, {14, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {14, 21}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{14, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 106}, {14, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {16, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{16, 19}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 108}, {16, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {16, 17}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{16, 17}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 85}, {16, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 14}, {18, 13}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{18, 13}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 37}, {18, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 18}, {20, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{20, 9}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 85}, {20, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_die08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 20}, {20, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{20, 7}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 37}, {20, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {14, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{14, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 86}, {14, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 32}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {12, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{12, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 55}, {12, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {10, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 27}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 63}, {10, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {14, 27}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{14, 27}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 85}, {14, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>goldRobo_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {14, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 27}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 79}, {14, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>groundTurret_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{50, 30}</string>
			<key>spriteSourceSize</key>
			<string>{50, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 0}, {50, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>groundTurret_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{50, 30}</string>
			<key>spriteSourceSize</key>
			<string>{50, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 0}, {50, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>groundTurret_up.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 34}</string>
			<key>spriteSourceSize</key>
			<string>{50, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 0}, {50, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 84}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{41, 52}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {18, 21}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{18, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 32}, {18, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {22, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{22, 23}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 32}, {22, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{22, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 36}, {22, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {20, 21}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{20, 21}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 62}, {20, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_die06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {16, 19}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{16, 19}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{38, 104}, {16, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_stand.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {14, 25}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{14, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 64}, {14, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {18, 25}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{18, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 36}, {18, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59, 52}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 37}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 56}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 59}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>soldier_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {16, 25}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{16, 25}</string>
			<key>spriteSourceSize</key>
			<string>{22, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 57}, {16, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
		<key>name</key>
		<string>spritesheet_enemies1.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>